#chats {
  width: 100%;
  height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 0.5em;
  overflow-y: scroll;
}
#chats::-webkit-scrollbar {
  display: none;
}

#chats .chat {
  padding-inline: 1em;
  padding-block: 0.5em;
  width: 100%;
  display: flex;
  gap: 1em;
  color: var(--white);
  background-color: var(--main-color);
  cursor: pointer;
}
#chats h4 {
  font-weight: 600;
}
.user-img {
  width: 2.5em;
  height: 2.5em;
}
.user-img img {
  object-fit: cover;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

#chats .chat:hover {
  color: var(--main-color);
  background-color: var(--hover-color);
}
#chats .chat-content {
  display: flex;
  flex-direction: column;
}
