#TextArea {
  flex: 5;
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
}

#TextArea .main {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#TextArea .friend {
  flex: 1;
  animation: slideIn 0.3s ease-out 0s both;
}

@keyframes slideIn {
  0% {
    flex: 0;
  }
  100% {
    flex: 1;
  }
}
