#headerUser-1 {
  width: 100%;
  height: 7.5vh;
  display: flex;
  align-items: center;
  padding-inline: 1em;
  padding-block: 0.5em;
  position: relative;
}
#headerUser-1 .user-profile {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  width: 2.5em;
  height: 2.5em;
}

.user-profile img {
  object-fit: cover;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
#headerUser-1 .user-nav {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
}
#headerUser-1 img {
  cursor: pointer;
}
.user-nav img {
  filter: invert(100%);
}
#search-user-friends {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6.5vh;
  padding-inline: 1em;
  padding-bottom: 0.5em;
}
#search-user-friends .user-search-input {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 0.5em;
  padding: 0.5em;
  background-color: var(--white);
}

.user-search-input input {
  padding-inline: 1em;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--white);
}
