#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-block: 25%;
  width: 100%;
  height: 100%;
  gap: 3em;
  position: relative;
  background-color: var(--extra);
  animation: slideRight 0.3s ease-out 0s both;
}
#profile img {
  border-radius: 50%;
  width: 10em;
  object-fit: cover;
  cursor: pointer;
}
#profile .go-back {
  width: 1.75em;
  object-fit: cover;
  position: absolute;
  top: 1.5%;
  left: 3%;
  filter: invert(1);
}
#profile .profile-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
  padding: 2em;
  border: none;
}
#profile h2 {
  font-weight: 600;
  font-size: 1.25em;
  color: var(--black);
}
.user-info {
  border-radius: 0.5em;
  width: 100%;
  padding-inline: 2em;
  padding-block: 1em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--white);
  gap: 0.5em;
}
.user-info #input {
  animation: none;
  width: 100%;
  font-size: 1em;
  border-radius: 0.5em;
  padding: 0.5em;
  font-weight: 500;
  background-color: var(--hover-color);
}
.user-info label {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@keyframes slideRight {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
