#main,
#main-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.theme {
  background-color: var(--main-color);
  transition: background-color 0.3s ease;
}
