body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background-color: var(--body-color);
}

* {
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
p {
  font-weight: 300;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#main {
  --main-color: #0a2495;
  --hover-color: #d9d9d9;
  --white: #f9f6ed;
  --black: #19181a;
  --extra: #0a2495;
}
#main-dark {
  --main-color: #161616;
  --hover-color: #d9d9d9;
  --white: #d2d2d2;
  --black: #161616;
  --extra: #161616;
}

#svg {
  width: 1.75em;
  object-fit: contain;
  height: 1.75em;
}

@media only screen and (min-width: 2100px) {
  html {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    width: 2400px;
  }
}
