body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background-color: var(--body-color);
}

* {
  font-weight: 400;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  --main-color: #19181a;
  --hover-color: #ececec;
  --white: #f9f6ed;
  --black: #19181a;
  --touch: #1a5db4;
  --extra: #313131;
}

#svg {
  width: 1.75em;
  object-fit: contain;
  height: 1.75em;
}

@media only screen and (min-width: 1920px) {
  html {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    width: 1920px;
  }
}
